{% extends 'adminbase.html' %}

{% block cotent%}
<!-- START NAV -->

<div class="columns" id="app-content">
    <div class="column is-2 is-fullheight is-hidden-touch" id="navigation">
        <aside class="menu">
            <br>
            <ul class="menu-list">
                <li>
                    <a class="has-text-white is-size-4" href="admindash">
                        <span class="icon has-text-white">
                        </span> ADMIN
                    </a>
                </li>
                <li>
                    <a class="is-active" href="admin">
                        <span class="icon has-text-white">
                            <i class="fa fa-home"></i>
                        </span> Dashboard
                    </a>
                </li>
                <li>
                    <a class="has-text-white" href="datasets">
                        <span class="icon has-text-white">
                            <i class="fa fa-edit"></i>
                        </span> Dataset
                    </a>
                </li>
                <li>
                    <a class="has-text-white" href="training">
                        <span class="icon has-text-white">
                            <i class="fa fa-desktop"></i>
                        </span> Training
                    </a>
                </li>
                <li>
                    <a class="has-text-white" href="setting">
                        <span class="icon has-text-white">
                            <i class="fas fa-cog"></i>
                        </span> Setting
                    </a>
                </li>
            </ul>

            <p class="menu-label is-hidden-touch">
                Action
            </p>
            <ul class="menu-list">
                <li>
                    <a class="" href="login.html">
                        <span class="icon">
                            <i class="fa fa-user"></i>
                        </span> Profile
                    </a>
                </li>
                <li>
                    <a class="" href="login.html">
                        <span class="icon">
                            <i class="fa fa-lock"></i>
                        </span> Logout
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="column is-10" id="page-content">

        <div class="content-header">
            <h4 class="title is-4">Dashboard</h4>
            <span class="separator"></span>
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="admin">Admin</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
                </ul>
            </nav>
        </div>
        <div></div>
        <div class="content-body">
            <form action="admintes" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="columns">
                    <div class="column is-2">
                        <h3>Pilih Dataset</h3>
                    </div>
                    <div class="column control">
                        <div class="select is-small">
                            <select>
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="box quick-stats has-background-white has-text-white">
                            <div class="quick-stats-icon">
                                <span class="icon has-text-info is-large">
                                    <i class="fal fa-fish fa-3x"></i>
                                </span>
                            </div>
                            <div class="column has-text-black has-text-centered">
                                <div id="img-preview" class="column is-full"
                                    style=" margin:auto; height:140px; border: 2px dashed #000;">
                                    <h2 id="inputText">Image Here...</h2>
                                    <img id="inputImage" style="margin:auto; height:110px; width:250px; display:none;"
                                        src="/media/wetmorella_nigropinnata_12.jpg" name="inputImage" />
                                </div>
                                <br>
                                <div class="columns is-centered">
                                    <label for="imgInp" class="button is-rounded"><i class="fas fa-upload"></i>Upload
                                        Image</label>
                                    <input id="imgInp" type="file" name="photo" style="display: none;">
                                    <pre style="background: white;"></pre>
                                    <label for="submit" class="button is-rounded"><i
                                            class="far fa-poll"></i>Submit</label>
                                    <input id="submit" type="submit" name="submit" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-fullheight">
                        <div style="height:100%" class="box quick-stats has-background-white">
                            <div class="quick-stats-icon">
                                <span class="icon is-large">
                                    <i class="far fa-poll-h fa-3x"></i>
                                </span>
                            </div>
                            <div class="column is-multiline">
                                <h4 class="title is-4 has-text-black">Result</h4>
                                <h4 class="title is-6 has-text-black">{{hasil}}</h4>
                                <progress class="progress is-link" value="{{percentage}}" max="100"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="columns" style="margin-top: 30px;">
                <div class="column">
                    <div class="box">
                        <div class="column is-multiline">
                            <h4 class="title is-4 has-text-black">Preprocessing</h4>
                            <div class="control">
                                <form action="preprocessing" method="POST">
                                    {%csrf_token%}
                                    <button class="button is-small is-info">See Preprocessing</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="column is-multiline">
                            <h4 class="title is-4 has-text-black">Augmentasi</h4>
                            <div class="control">
                                <button class="button is-small is-info">See Augmentasi</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="column is-multiline">
                            <h4 class="title is-4 has-text-black">ConvoBlok</h4>
                            <div class="columns is-centered">
                                <form action="convo" method="POST">
                                    {%csrf_token%}
                                    <input type="text" name="image_path" value="{{final}}">
                                    <div class="column control">
                                        <button class="button is-small is-info">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Raw Image</p>
                            <canvas id="chart1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Cropped Image</p>
                            <canvas id="chart2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Clean Image</p>
                            <canvas id="chart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        </div>
    </div>

    <!-- <script src="static/css/app.css"></script> -->
    <script>
        $(document).ready(function () {
            var hasil = '{{hasil}}';
            var url = '{{img}}';

            console.log('url', url);
            if (hasil != '') {
                $('#inputImage').attr('src', url);
                $("#inputText").css("display", "none");
                $("#inputImage").css("display", "inline");

            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#inputImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
            $("#inputText").css("display", "none");
            $("#inputImage").css("display", "inline");
        });
    </script>

    {% endblock %}