{% extends 'base.html' %}

{% block cotent%}

<!-- Begin Preloader -->
<div class="preloader-wrapper">
  <div class="preloader">
    <!-- <img src="img/preloader.gif" alt="" /> -->
  </div>
</div>
<!-- End Preloader-->
<!-- Begin Scroll Up Button -->


  <button id="toTop" title="Go to top" onclick="toTop()">
    <i class="fas fa-angle-up"></i>
  </button>

<!-- End Scroll Up Button -->

<!-- Begin Header -->
<div class="header-wrapper" id="home">
  <!-- Begin Hero -->
  <section class="hero is-large">
    <!-- Begin Mobile Nav -->
    <nav class="navbar is-transparent is-hidden-desktop">
      <!-- Begin Burger Menu -->
      <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="mobile-nav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <!-- End Burger Menu -->
      <div id="mobile-nav" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item" href="#home">
              Home
            </a>
          </div>
          <div class="navbar-item">
            <a class="navbar-item" href="#about-me">
              About Me
            </a>
          </div>
          <div class="navbar-item">
            <a class="navbar-item" href="#services">
              Services
            </a>
          </div>
          <div class="navbar-item">
            <a class="navbar-item" href="#skills">
              Skills
            </a>
          </div>
          <div class="navbar-item">
            <a class="navbar-item" href="#my-work">
              My Work
            </a>
          </div>
          <div class="navbar-item">
            <a class="navbar-item" href="#contact">
              Contact
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Mobile Nav -->
    <!-- Begin Hero Content-->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="subtitle">This is a</h1>
        <h2 class="title">Fish Recognition</h2>
        <h1 class="subtitle profession">Apps</h1>
      </div>
    </div>
    <!-- End Hero Content-->
    <!-- Begin Hero Menu -->
    <div class="hero-foot ">
      <div class="hero-foot--wrapper">
        <div class="columns">
          <div class="column is-12 hero-menu-desktop is-fixed has-text-centered">
            <ul>
              <li id="liHome">
                <a href="#home">Home</a>
              </li>
              <li id="liRecognition">
                <a href="#recognition">Recognition</a>
              </li>
              <li id="liSpecies">
                <a href="#species">Fish Species</a>
              </li>
              <li id="liAbout">
                <a href="#about-me">About Us</a>
              </li>
              <li id="liHistory">
                <a href="#history">History</a>
              </li>
              <li>
                <a href="#contact">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Menu -->
  </section>
  <!-- End Hero -->
</div>
<!-- End Header -->

<!-- Begin Main Content -->
<div class="main-content">
  <!-- Begin Services Content -->
  <div class="section-light" id="recognition">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
          <h1 class="title has-text-centered section-title">Recognition</h1>
          <h2 class="subtitle has-text-centered">
            Start fish recognition by selecting your fish image below
          </h2>
          <br />
        </div>

        <div class="column is-half is-centered has-text-centered" data-aos="fade-right" data-aos-easing="linear">
          <i class="fal fa-fish fa-3x"></i>
          <h1>Fish Input</h1>
          <hr>
          <div id="img-preview" class="column is-12" style=" margin:auto; border: 2px dashed #000;">
            <h2 id="inputText">Image Here...</h2>
            <img id="inputImage" src="/media/1.png" name="inputImage"
              style=" margin:auto; display:none;" />
          </div>
          <br>
          <form action="coba" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="columns is-centered">
              <label for="imgInp" class="button is-rounded"><i class="fas fa-upload"></i>Upload Image</label>
              <input id="imgInp" type="file" name="photo" style="display: none;">
              <pre style="background: white;"></pre>
              <label for="submit" class="button is-rounded"><i class="far fa-poll"></i>Submit</label>
              <input id="submit" type="submit" name="submit" style="display: none;">
            </div>
          </form>
        </div>
        <div class="column is-half has-text-centered" data-aos="fade-left" data-aos-easing="linear">
          <i class="far fa-poll-h fa-3x"></i>
          <h1>Result</h1>
          <hr />
          <h1>{{species}} : {{percentage}}%</h1>
          <progress class="progress" value="{{percentage}}" max="100"></progress>
        </div>

        <hr />
      </div>
    </div>
  </div>
  <!-- End Services Content -->
  <!-- Begin Work Content -->
  <div class="section-dark my-work" id="species">
    <div class="container">
      <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
        <div class="column is-12">
          <h1 class="title has-text-centered section-title">Fish Species</h1>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=0');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=20');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=30');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=40');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=50');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=60');"></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=70');"></figure>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Work Content -->
  <!-- Begin About Me Section -->
  <div class="section-light about-me" id="about-me">
    <div class="container">
      <div class="column is-12 about-me">
        <h1 class="title has-text-centered section-title">About Us</h1>
      </div>
      <div class="columns is-multiline">
        <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
          <p class="is-larger">
            &emsp;&emsp;<strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.</strong>
          </p>
          <br />
          <p>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
            Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum.
          </p>
          <br />
          <div class="is-divider"></div>
          <div class="columns about-links">
            <div class="column">
              <p class="heading">
                <strong>Give us a ring</strong>
              </p>
              <p class="subheading">
                123-456-7890
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>Email Us</strong>
              </p>
              <p class="subheading">
                hello@example.com
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>View our portfolio</strong>
              </p>
              <p class="subheading">
                example.com
              </p>
            </div>
          </div>
        </div>
        <div class="column is-6 right-image " data-aos="fade-left">
          <img class="is-rounded" src="https://picsum.photos/id/366/600/375" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- End About Me Content -->
  <!-- Begin Skills Content -->
  <div class="section-light skills" id="history">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">History</h1>
        </div>
        <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
          <h1>Fish Species</h1>
          <progress class="progress" value="70" max="100">30%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="65" max="100">30%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="58" max="100">45%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="90" max="100">60%</progress>
        </div>
        <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
          <h1>Fish Species</h1>
          <progress class="progress" value="85" max="100">30%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="95" max="100">30%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="70" max="100">45%</progress>
          <h1>Fish Species</h1>
          <progress class="progress" value="60" max="100">60%</progress>
        </div>
      </div>
    </div>
  </div>
  <!-- End Skills Content -->
  <!-- Begin Contact Content -->
  <div class="section-light contact" id="contact">
    <div class="container">
      <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">
            Get in touch
          </h1>
        </div>
        <div class="column is-8 is-offset-2">
          <form action="https://formspree.io/email@example.com" method="POST">
            <div class="field">
              <label class="label">Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Ex. Jane Smith" name="Name" />
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" placeholder="Ex. hello@arctheme.com" name="Email" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea" name="Message"></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control ">
                <button class="button submit-button">
                  Submit&nbsp;&nbsp;
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Content -->
</div>
<!-- End Main Content -->

<!-- Begin Footer -->
<div class="footer">
  <p>
    <strong class="white">Fish Recognition</strong> by Praba Hridayami.
  </p>
</div>
<!-- End Footer -->

<!-- Scripts -->
<script>
  AOS.init({
    easing: "ease-out",
    duration: 800,
  });

  var hasil = '{{result}}';
  var url ='{{img}}'
  console.log('url=',url)
  $(document).ready(function () {

    if(hasil != ''){
      $('#liRecognition').addClass('is-active');
      $('#inputImage').attr('src', url);
      $("#inputText").css("display", "none");
      $("#inputImage").css("display", "inline");
      
      $('html, body').animate({
        scrollTop: $("#recognition").offset().top
      }, 2000);
    }else{
      $('#liHome').addClass('is-active');
      $('html, body').animate({
        scrollTop: $("#home").offset().top
      }, 2000);
    }
  });

  function toTop(){
    $('#liHome').addClass('is-active');
      $('html, body').animate({
        scrollTop: $("#home").offset().top
      }, 2000);
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#inputImage').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#imgInp").change(function () {
    readURL(this);
    $("#inputText").css("display", "none");
    $("#inputImage").css("display", "inline");
  });
</script>

{% endblock %}